<h1 class="h3">公開プロフィール設定</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
        
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name, "名前" %>
            <%= f.text_field :name %>

            <%= f.label :area, "住まい" %>
            <%= f.text_field :area %>
            
            <%= f.label :profile, "プロフィール" %>
            <%= f.text_area :profile %>
            
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email %>

            <%#= f.label :password %>
            <%#= f.password_field :password %>

            <%= f.label :profileimage,"プロフィール画像をアップロードできます。"%>
            <%= f.file_field :profileimage %><%# オプションに画像用に追加したカラム名を指定 %>
            <%= f.hidden_field :profileimage_cache %>

            <%= f.submit "Update Profile", class: "btn btn-large btn-primary" %>
        
        <% end %>

        <p style="margin:50px;"></p>
        <h2 class="h3">アカウントを削除したい場合はこちら</h2>
        
        <%= link_to "アカウントを削除する", user_path(@user), class: "btn btn-large btn-warning",
                    method: :delete, data: {confirm: "本当にアカウントを削除してもいいですか？"} %>
    </div>
</div>

