<div class="row">
   <aside class="col-md-4">
       <section class="user_info">
            <h1>
                <%#= gravatar_for @user %><%# gravatarで生成されるimgタグにリンクを貼った %>
                <%= link_to (gravatar_for @user), user_path(@user.id) %>
                <%= @user.name %>
            </h1>
            <%#= @user.inspect %><%# 確認のためこのコードはもう暫く残しておきたい。 %>
       </section>
   </aside>

    <h2 class="h4"><%= @user.name %>がフォローしている人</h2>
    <div class="col-md-8">
        <% @user.following_relationships.each do |f| %>
        <% @followinguser = User.find(f.followed_id) %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <%= link_to (gravatarmini_for @followinguser), user_path(@followinguser.id) %>
                    <div class="fwl-username text-center">
                        <%= link_to @followinguser.name, user_path(@followinguser.id) %>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">住まい：<%= @followinguser.area %></li>
                    <li class="list-group-item">プロフィール：<%= @followinguser.profile %></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>
