<div class="row">
   <aside class="col-md-4">
        <%= render 'shared/user_info' %>
   </aside>

    <h1 class="h4"><%= @user.name %>さんがフォローしている人</h1>
    <div class="col-md-8">
        <% @user.following_relationships.each do |f| %>
        <% @followinguser = User.find(f.followed_id) %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <% if @followinguser.profileimage? %>
                        <%= link_to (image_tag @followinguser.profileimage, size: '50x50'), user_path(@followinguser.id) %>
                    <% else %>
                        <%= link_to gravatar_for(@followinguser, size: 50), user_path(@followinguser.id) %>
                    <% end %>
                    <div class="fwl-username text-center">
                        <%= link_to @followinguser.name, user_path(@followinguser.id) %>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">住まい：<%= @followinguser.area %></li>
                    <li class="list-group-item">プロフィール：<%= @followinguser.profile %></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>
