<div class="row">
   <aside class="col-md-4">
       <section class="user_info">
            <h1>
                <% if @user.profileimage? %>
                    <%= link_to (image_tag @user.profileimage, size: '50x50'), user_path(@user.id) %>
                <% else %>
                    <%= link_to gravatar_for(@user, size: 50), user_path(@user.id) %>
                <% end %>
                <%= @user.name %>
            </h1>
       </section>
   </aside>

    <h2 class="h4"><%= @user.name %>さんがフォローしている人</h2>
    <div class="col-md-8">
        <% @user.following_relationships.each do |f| %>
        <% @followinguser = User.find(f.followed_id) %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <% if @followinguser.profileimage? %>
                        <%= link_to (image_tag @followinguser.profileimage, size: '50x50'), user_path(@followinguser.id) %>
                    <% else %>
                        <%= link_to gravatar_for(@followinguser, size: 50), user_path(@followinguser.id) %>
                    <% end %>
                    <div class="fwl-username text-center">
                        <%= link_to @followinguser.name, user_path(@followinguser.id) %>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">住まい：<%= @followinguser.area %></li>
                    <li class="list-group-item">プロフィール：<%= @followinguser.profile %></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>
