<h1>Sign up</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
        
            <%= render 'shared/error_messages', object: f.object %>
        
            <%= f.label :name, "名前"%>
            <%= f.text_field :name %>

            <%# Signup では、名前・メールアドレス・パスワードの項目だけにする。
            確かにその方がユーザービリティがよい %>
            <%#= f.label :area, "住まい"%>
            <%#= f.text_field :area %>
            
            <%#= f.label :profile, "プロフィール"%>
            <%#= f.text_area :profile, placeholder: '自由に自己紹介を書いてください。' %>
            
            <%= f.label :email, "メールアドレス"%>
            <%= f.email_field :email %>

            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password , placeholder: '6文字以上' %>
            
            <%= f.label :password_confirmation, "パスワード再確認" %>
            <%= f.password_field :password_confirmation, placeholder: 'パスワードを再入力' %>
            
            <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
        
        <% end %>
    </div>
</div>
