aaaaaaaaaa


<% @user = User.find(params[:id]) %>
<%= @user.microposts.inspect %>
<% @user.microposts.each do |f| %>
    <% if f.image? %>
        <p>画像あるよ</p>
        <%= image_tag f.image.url %><br />
    <% else %>
        <p>画像ないよ</p>
    <% end %>
<% end %>

<hr />

<%= @user.microposts.inspect %>

<hr />

<%= @user.microposts.first %>

<hr />

<%= Micropost.find_by_id(29).id.inspect %>
<%= Micropost.find_by_id(29).created_at.inspect %>

<%= Micropost.find_by_id(29).user_id.inspect %>

<%= Micropost.find_by_id(29).content.inspect %>

<%= Micropost.find_by_id(29).created_at.inspect %>
<hr />
<%= Micropost.find_by_id(29).inspect %>


<%= button_tag(type: "submit", class: "btn") do %>
<i class="fa fa-retweet"></i>
  <% end %>