動作テスト用のページです。

<a class="btn btn-primary btn-xs" href="/users/1/tweet">つぶやきページ</a>


<a class="btn btn-success btn-xs" href="/users/1/tweet">つぶやきページ</a>









<%= @user = User.find_by_id(params[:id]) %>
<hr />

<%= Micropost.last.id %>

<hr />

test:
<% if record = Micropost.where(retweetid: 101).first.blank? %>
  レコードが見つからないよ
<% else %>
  <%= record.inspect %>レコードがあったよ
<% end %>

<%# record = Micropost.where(id: 103).first %><%# imageのあるレコード %>
<%# image = record.image %><%# imageの値を取得 %>

<%# record = Micropost.where(id: 118).first %><%# imageを入れたい対象のレコード %>
<%# record.image = image %>
<%# record.save! %>

強制的に入れた画像<br />
<%#= image_tag Micropost.find_by(id: 118).image %>


<hr />



<button type="submit" class="btn btn-primary">
  <i class="fa fa-retweet"></i>
</button>

<hr />
<a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/120"><i class="fa fa-trash-o"></i></a>
<hr />




<hr />

<%= image_tag @user.profileimage, size: '50x50' %>
<hr />
<% if @user.profileimage? %>
プロフ画像あるよ
<% end %>
<hr />
<%= current_user.microposts.find_by_retweetid(80).inspect %>

<hr />

<% unless current_user.microposts.find_by_retweetid(80) %>
  retweetidがないよ

<% end %>

<hr />

<%= Micropost.find_by_retweetid(99).inspect %>

<hr />
where<br />
<%= Micropost.where(retweetid: 99).count %>

<hr />


where<br />
<%= Micropost.where(retweetid: 7).count %>

<hr />



<% @user = User.find(params[:id]) %>
<%= @user.microposts.inspect %>
<% @user.microposts.each do |f| %>
    <% if f.image? %>
        <p>画像あるよ</p>
        <%= image_tag f.image.url %><br />
        lightboxモーダル<%= link_to image_tag(f.image.url, :size => "76x76"),f.image.url,:rel => "lightbox"%>
    <% else %>
        <p>画像ないよ</p>
    <% end %>
<% end %>

<hr />

<%= @user.microposts.inspect %>

<hr />

<%= @user.microposts.first %>

<hr />

<%= Micropost.all.inspect %>
<hr />
<%= Micropost.find_by_id(70).inspect %>
<%#= Micropost.find_by_id(75).created_at.inspect %>

<%#= Micropost.find_by_id(75).user_id.inspect %>

<%#= Micropost.find_by_id(75).content.inspect %>

<%#= Micropost.find_by_id(75).created_at.inspect %>
<hr />
<%#= Micropost.find_by_id(75).inspect %>

<hr />
ゴミ箱
<i class="fa fa-trash-o"></i>
<hr />
リツイートボタン
<i class="fa fa-retweet"></i>
<hr />

<%= button_tag(type: "submit", class: "btn") do %>
<i class="fa fa-retweet"></i>
  <% end %>

<hr>
<%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
  <i class="fa fa-retweet"></i>
<% end %>

<hr>

<%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
  <i class="fa fa-trash-o"></i>
<% end %>




