<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>

<% if micropost.retweetid.present? %>

<%#= Micropost.find_by_id(micropost.retweetid).image.url %><%# これで元つぶやきの画像のURLは取得できるが #>
<%#= img_tag Micropost.find_by_id(micropost.retweetid).image.url %><%# img_tag を呼び出すとエラーになる %>
<% end %>

    <% if micropost.image? %>
        <div><%= image_tag micropost.image.thumb.url %></div>
    <% end %>
    <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user == micropost.user %>
        <i class="fa fa-trash"></i>
            <%= link_to "delete", micropost, method: :delete,
                                             data: { confirm: "You sure?" } %>
            <%# 上記は、以下と同じ意味。
            link_to "delete", micropost_path(micropost), method: :delete, data: { confirm: "You sure?" } 
            routesの設定は、DELETE /microposts/:id(.:format)      microposts#destroy　だから。
            実際のHTMLソースは以下のようになる。
            <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/1">delete</a>
            よって、コントローラにはdestroyメソッド(アクション)を追加する。
            %>
        <% end %>
    </span>

    <% if current_user != micropost.user %><%# 自分のつぶやきはretweetボタンを表示させない %>
        <%= form_for @micropost, :url => {:controller => 'microposts', :action => 'retweet' } do |f| %>
            <%= f.hidden_field :retweetid, :value => micropost.id %>
            <%= f.hidden_field :content, :value => micropost.content %>
            <%#= f.hidden_field :image, :value => micropost.image %>
            <%#= f.file_field :image, :value => micropost.image %><%# type="file"には強制的にimageを入れられない #>
            <%#= micropost.image %>
            <%# @image = Micropost.find_by_id(micropost.id).image %>
            <%#= @image.inspect %>
            <%#= f.hidden_field :image, :value => @image %>
            <i class="fa fa-retweet"></i>
            <%= f.submit "retweet" %>
        <% end %>
    <% end %>
    <%#= micropost.inspect %>
    <%#= micropost.retweetid %>
    <%#= micropost.retweetid.present? %>
    <% if micropost.retweetid.present? %><%# retweetidカラムに値があったら %>
        <span class="content" style="background-color:#ffcaca;">
        <%= link_to micropost.user.name,user_path(micropost.user) %><%# retweetした人 %>
        さんが
        <% @moto_tweet_id = Micropost.find_by_id(micropost.retweetid).user_id %><%# retweetされた人のuser_id %>
        <% @moto_user_name = User.find_by_id(@moto_tweet_id).name %><%# retweetされた人のname %>
        <%= link_to @moto_user_name, user_path(@moto_tweet_id) %>
        さんのつぶやきをRetweetしました
        </span>

    
    <% end %>
</li>
<i class="fa fa-trash"></i>