<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>
    <span class="tmestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user == micropost.user %>
            <%= link_to "delete", micropost, method: :delete,
                                             data: { confirm: "You sure?" } %>
            <%# 上記は、以下と同じ意味。
            link_to "delete", micropost_path(micropost), method: :delete, data: { confirm: "You sure?" } 
            routesの設定は、DELETE /microposts/:id(.:format)      microposts#destroy　だから。
            実際のHTMLソースは以下のようになる。
            <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/1">delete</a>
            よって、コントローラにはdestroyメソッド(アクション)を追加する。
            %>
        <% end %>
    </span>
</li>
