<div class="panel panel-default" id="micropost-<%= micropost.id %>">
    <div class="panel-body">
        <!--<li id="micropost-<%#= micropost.id %>">-->
        <% if micropost.user.profileimage? %>
            <%= link_to (image_tag micropost.user.profileimage, size: '50x50'), micropost.user %>
        <% else %>
            <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
        <% end %>
        <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
        <div class="content"><%= micropost.content %></div>
    
        <% if micropost.image? %>
            <div class="content">
                <%#= image_tag micropost.image.thumb.url %><%# carrierwaveのサムネイルを表示させることもできる %>
                <%= link_to image_tag(micropost.image.url, :class => "micropost_image" ), micropost.image.url, :rel => "lightbox" %><%# lightbox2によるモーダル表示 %>
            </div>
        <% end %>

        <span class="timestamp">
            Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        </span>
        
        <%# リツィートされているmicropostの詳細 ######################################################################## %>
        <span class="content">
            <% if micropost.retweetid.present? %><%# micropostにretweetidがあったら %>
                <% if Micropost.where(retweetid: micropost.retweetid).count != 0 %><%# retweetidカラムからこのmicropost.retweetidの値と同じ値を持つレコード数をカウントする %>
                    <div class="retweetcount">
                        (<%= Micropost.where(retweetid: micropost.retweetid).count %>)人がリツィート
                    </div>
                    <%# リツィートしている人のプロフィール画像を表示 ################################# %>
                    <div class="boxContainer">
                    <% Micropost.where(retweetid: micropost.retweetid).each do |f| %><%# retweetidカラムにmicropost.idを持つもの全て %>
                        <% retweeter_user = User.find(f.user_id) %><%# retweetをしたuserを定義 %>
                        <% if retweeter_user.profileimage.present? %><%# profileimageを持っている場合 %>
                            <span class="box">
                            <%= link_to (image_tag retweeter_user.profileimage, width: 25, alt: retweeter_user.name), user_path(retweeter_user) %>
                            </span>
                        <% else %><%# profileimageを持っていない場合、gravaterの画像は自動でclassが入るので、オリジナルの画像を使用。 %>
                            <span class="box">
                            <%= link_to (image_tag "http://nyamu.sakura.ne.jp/img/gravatar.jpg", width: 25, alt: retweeter_user.name), user_path(retweeter_user) %>
                            </span>
                        <% end %>
                    <% end %>
                    </div>
                <% end %>
            <% else %><%# micropostにretweetidがなかったら %>
                <% if Micropost.where(retweetid: micropost.id).count != 0 %><%# retweetidカラムから、このmicropost.idと同じ値を持つレコード数をカウントする %>
                    <div class="retweetcount">
                        (<%= Micropost.where(retweetid: micropost.id).count %>)人がリツィート
                    </div>
                    <%# リツィートしている人のプロフィール画像を表示 ################################# %>
                    <div class="boxContainer">
                    <% Micropost.where(retweetid: micropost.id).each do |f| %><%# retweetidカラムにmicropost.idを持つもの全て %>
                        <% retweeter_user = User.find(f.user_id) %><%# retweetをしたuserを定義 %>
                        <% if retweeter_user.profileimage.present? %><%# profileimageを持っている場合 %>
                            <span class="box">
                            <%= link_to (image_tag retweeter_user.profileimage, width: 25, alt: retweeter_user.name), user_path(retweeter_user) %>
                            </span>
                        <% else %><%# profileimageを持っていない場合、gravaterの画像は自動でclassが入るので、オリジナルの画像を使用。 %>
                            <span class="box">
                            <%= link_to (image_tag "http://nyamu.sakura.ne.jp/img/gravatar.jpg", width: 25, alt: retweeter_user.name), user_path(retweeter_user) %>
                            </span>
                        <% end %>
                    <% end %>
                    </div>
                <% end %>
            <% end %>
        </span>
    
        <% moto_user_name = '' %><%######この定義は一番上に置くこと！######## 後ほどこの変数を使うので''を指定して初期化############### %>
        <% if micropost.retweetid.present? %><%# retweetidカラムに値があったら %>
            <span class="content retweetdetail">
            <% if current_user.name != micropost.user.name %>
                <%= link_to micropost.user.name,user_path(micropost.user) %>さんが<%# retweetした人 %>
            <% else %>
                あなたが
            <% end %>
            <% moto_tweet_id = Micropost.find_by_id(micropost.retweetid).user_id %><%# retweetされた人のuser_id %>
            <% moto_micropost_id = Micropost.find_by_id(micropost.retweetid).id %><%# retweetされた人のmicropostのid %>
            <% moto_user_name = User.find_by_id(moto_tweet_id).name %><%# retweetされた人のname %>
            <%= link_to moto_user_name, user_path(moto_tweet_id) %>
            さんの
            <%= link_to "元つぶやき", tweet_user_path(moto_micropost_id) %>
            をRetweetしました
            </span>
        <% end %>
        <!--</li>-->

        <div class="boxContainer">
            <%# リツィート ######################################################################## %>
            <%# 自分のつぶやきじゃない場合かつ、retweet元のつぶやきが自分のも以外の場合のみ、retweetボタンを表示させる。 %>
            <% if current_user != micropost.user && current_user.name != moto_user_name %>
                <% unless current_user.microposts.find_by(retweetid: micropost.id) %><%# 一度もretweetしていない場合のみretweetボタンを表示させる %>
                    <% @micropost = Micropost.new %>
                    <span class="box">
                        <%= form_for @micropost, :url => {:controller => 'microposts', :action => 'retweet' } do |f| %>
                            <% if micropost.retweetid.present? %><%# retweetidカラムに値があったら %>
                                <%= f.hidden_field :retweetid, :value => micropost.retweetid %><%# 既存のretweetidを使う %>
                            <% else %>
                                <%= f.hidden_field :retweetid, :value => micropost.id %><%# そうでない場合は、親つぶやきのidをretweetidとする %>
                            <% end %>
                            <%= f.hidden_field :content, :value => micropost.content %>
                            <!--<i class="fa fa-retweet"></i>-->
                            <%#= f.submit "retweet" %>
                            <%= button_tag( class: "btnlink btnlink-info") do %>
                              <%= content_tag :span, "リツイート", class: "glyphicon glyphicon-retweet" %>
                            <% end %>
                        <% end %>
                    </span>
                <% end %>
            <% end %>

            <%# ふぁぼ　あんふぁぼ ######################################################################## %>
            <%#= render 'users/favo_form' %><%# ←これはrenderされるとき@micropostを取得できなかった %>
            <% @micropost = Micropost.find_by(id: micropost.id) %>
            <div class="box" id="favo_form_<%= @micropost.id %>">
                <div class="form-horizontal" role="form">
                    <%# current_user以外のつぶやきのみ「ふぁぼ・あんふぁぼformを表示する %>
                    <% if current_user != @micropost.user %>
                        <% if current_user.favoing?(@micropost) %><%# ふぁぼしていたらtrueを返す %>
                            <%= render 'users/unfavo' %>
                        <% else %><%# ふぁぼしていなかったら「ふぁぼform」を表示させる %> 
                            <%= render 'users/favo' %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <%# つぶやき削除 ######################################################################## %>
            <% if current_user == micropost.user %>
                <%# コントローラーのアクション名が"tweet"の場合はdeleteリンクを非表示。
                理由は、Micropostのdestroy後にreferrerurlにリダイレクトされるが、
                そのページはもう存在していないのでエラーが出るから。
                %>
                <%# request.referrerによる判別ができたのでコメントアウトした 一応消さないで残しておく%>
                <%# if "tweet" != controller.action_name %><%# コントローラーのアクション名が"tweet"の場合はdeleteリンクを非表示 %>
                    <%= link_to "削除", micropost, class: "btnlink btnlink-danger glyphicon glyphicon-trash", method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
                <%# end %>
            <% end %>

            <%# つぶやきの個別ページ ######################################################################## %>
            <%= link_to "つぶやきページ", tweet_user_path(micropost.id), class: "btnlink btnlink-primary glyphicon glyphicon-zoom-out" %><br />
        </div>
    </div>
</div>
