<!DOCTYPE html>
<html>
<head>
  <title>Microposts</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %><!-- フラッシュメッセージを表示ここから -->
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %><!-- フラッシュメッセージを表示ここまで -->
    <%= yield %>
  </div>
  <style>
    .fwl-username {
      font-size: 30px;
      margin: auto auto;
    }
  </style>
</body>
</html>
